.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 8px 4%;
    border-bottom: 1px solid;
}
.navbar .logo{
    width: max(20%,80px);
}
.navbar .profile{
    width: 60px;
}